html{
    font-size: 1.09vw;
}
body{
    margin:0;
    padding:0;
}
ul{
    list-style: none;
    padding:0;
}
p{
    margin:0;
}
a{
    text-decoration: none;
    color:#ffffff;
}
.wrapper{
    font-family: 'Oswald', sans-serif;
    /* height: 53.3vw; */
    /* height: 48.3vw; */
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    background-repeat: no-repeat;
    background-image: url('images/backgroundTable.png');
    background-position: center; 
    background-size: 100%;
    letter-spacing: 2px;
    color:#ffffff;
    text-transform: uppercase;

}
.main{
    
    display: flex;
    justify-content: space-between;
}
.main-header{
    height: 11.25%;
    padding-left: 7.3%;
    display: flex;
    justify-content: space-between;
}
.nav{
    width: 41.7%;
    color:#ffffff;
    /* font-size: 18px; */
    font-size: 0.86rem;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}
.nav  a{
    display: flex;
    align-items: center;
    opacity: 0.45;

}
.nav-about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-image{
    margin-bottom: 17%;
    width:1.2rem;
}
/* .nav a:active{
    color:#ffffff;
    display: flex;
    align-items: center;
} */
/* .nav a:hover{
    opacity: 1;
    display: flex;
    align-items: center;
    color:#ffffff;
    border-top: 2px solid #FFE048;
} */

.buy-link{
    display: inline-block;
    align-items: center;
    margin-top: 31%;
}
.nav-buy{
    width: 21.2%;
    
}
.nav-buy div a{
    opacity: 1;
}
.light{
    
    justify-self: start;
    height: 3px;
    background: #FFE048;
    -webkit-box-shadow: 0px 6px 22px 0px rgba(255,255,72,1);
    -moz-box-shadow: 0px 6px 22px 0px rgba(255,255,72,1);
    box-shadow: 0px 6px 22px 0px rgba(255,255,72,1);

}

.closeButton-svg:hover g{
    opacity: 1;
}
.closeButton-svg:hover > path{
    fill-opacity: 0.25;
}
.closeButton{
    width: 9%;
}
.closeButton-svg{
    width: 100%;
    height: 100%;
}
.money{
    margin-top: 3%;
    margin-left: 78.3%;
    font-size: 0.86rem;
    width: 17.3%;
    height: 2.2%;
    display: flex;
    justify-content: space-between;
}
.chips{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dollars{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 48%;
}
.chips-chipsCoin{
    width: 1.62rem;
}
.dollars-dollarCoin{
    width: 1.62rem;
}
.selectChipsCount-icon{
    margin-right: -4%;
}
.selectChipsCount-10{
    margin-right: -4%;
}
.chips-count{
    color: #DAC9FF;
    margin-left: 6%;
}
.dollars-count{
    color: #BAF8C0;
    margin-left: 6%;
}

.calculate{
    width: 33.6%;
    height: 70%;
    margin-top: 4%;
    margin-left: 6.6%;
}
.calculate-title{
    text-transform: uppercase;
    color: #ffffff;
    opacity: 0.45;
    font-size: 0.76rem;
}
.selectChipsCount{
    height: 9.7%;
    width: 73%;
    margin-top: 5.6%;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selectChipsCount div{
    color:white;
    opacity: 0.45;
}
.selectChip{
    color: white;
    -webkit-transform: skewX(-10deg); 
	-moz-transform: skewX(-10deg); 
	-ms-transform: skewX(-10deg); 
	-o-transform: skewX(-10deg); 
	transform: skewX(-10deg); 
    width: 19%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1 !important;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 0.5rem;
    border: 1px solid #8F95A9;

}

.selectChip > p{
    -webkit-transform: skewX(+10deg);
	-moz-transform: skewX(+10deg); 
	-ms-transform: skewX(+10deg); 
	-o-transform: skewX(+10deg); 
	transform: skewX(+10deg); 
}

.coinForm{
    color: #DAC9FF;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1rem;
    background-color: #161F38;
    padding: 8% 0 8% 8%;
    margin-top: 7%;
    opacity: 0.85;
    box-shadow: inset 0px 12px 35px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.coinForm--selected{
    border: 2px solid #C0E1FF;
}

.buyForm{
    display: flex;
    justify-content: space-between;
    margin-top: 8.2%;
}

.buyForm-button{
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 9.1%;
    border: 0;
    width: 71%;
    outline: none;
    background: radial-gradient(70.62% 70.62% at 50% 50%, #FFEC41 0%, rgba(255, 236, 65, 0) 100%), radial-gradient(25.77% 25.77% at 50% 105.15%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(111.34% 111.34% at 50% -11.34%, #FFFFFF 0%, rgba(255, 255, 255, 0) 31.4%), linear-gradient(180deg, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0) 100%), #FFB901;
    box-shadow: 0px 6px 0px #9D7814;
    
}
.buyForm-button:hover{
    background: radial-gradient(70.62% 70.62% at 50% 50%, #FFEC41 0%, rgba(255, 241, 112, 0) 100%), radial-gradient(25.77% 25.77% at 50% 105.15%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(111.34% 111.34% at 50% -11.34%, #FFFFFF 0%, rgba(255, 255, 255, 0) 31.4%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFB901;
    box-shadow: 0px 6px 0px #9D7814, 0px 22px 25px rgba(255, 214, 53, 0.25);
}

.changePayMethod{
    
    width: 25%;
    /* background: rgba(115, 129, 140, 0.65); */
    border-radius: 10px;
}
.changePayMethod:hover .changePayMethod-cash{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.15);
}
.changePayMethod:hover .arrow{
    transform: rotate(180deg);
}
.changePayMethod:hover .changePayMethod-card{
    border: 2px solid #C0E1FF;
    background: rgba(255, 255, 255, 0.15);
}
.changePayMethod-card{
    background: rgba(255, 255, 255, 0.15);
    border-radius: 0.5rem;
    border: 2px solid #686D7C;
    height: 94%;
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 2%;
}

.changePayMethod-cash{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 94%;
    width: 103%;
    border-bottom-left-radius:0.5rem ;
    border-bottom-right-radius:0.5rem ;
    display: none;
}
.cashImage{
    width: 1.66rem;
}
.arrow{
    width: 1rem;
}
.aboutNav{
    margin-left: 30%;
    margin-top: 5.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    height: 6.75%;
    width: 40%;
    font-size: 0.76rem;
    color: white;
    
}
.aboutNav > div {
    opacity: 0.45;
}
.aboutNav--selected{
    color: white;
    -webkit-transform: skewX(-10deg); 
	-moz-transform: skewX(-10deg); 
	-ms-transform: skewX(-10deg); 
	-o-transform: skewX(-10deg); 
	transform: skewX(-10deg); 
    width: 27%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1 !important;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 0.5rem;
    border: 1px solid #8F95A9;
}
.description{
    margin-left: 7.4%;
    margin-top: 5.1%;
    margin-right: 3%;
    display: flex;
    width: 88.45%;
    color:white;
    text-transform: uppercase;
    justify-content: space-between;
    height: 42.875%;
}
.description-title{
    font-size: 1.48rem;
}
.description-content{
    margin-left: 4.5%;
}
.description-text{
    margin-top: 3%;
    font-size: 0.66rem;
    display: flex;
    height: 75%;
}
.description-image{
    width: 46.8%;
}
.text-container{
    width: 22rem;
    background: linear-gradient(rgb(255, 255, 255,1), rgb(255, 255, 255,0));
    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));  */
    line-height: 188%;
}

.slider{
    transform: rotate(90deg);
    outline: none;
    -webkit-appearance: none;
    background-color: inherit;
    height: 0.5rem;
    width: 14rem;
    /* opacity: 0; */
    position: relative;
    top: 15%;
    right: 49%;

    
}

.slider::-webkit-slider-thumb {
    border:1px solid #A5A9B4;
    -webkit-appearance: none;
    appearance: none;
    width: 25%;
    height: 0.8rem;
    border-radius: 1rem;
    background: #777E93;
    cursor: pointer;
    opacity: 0.45 !important;
}

.slider::-moz-range-thumb {
    border:1px solid #A5A9B4;
    width: 25%;
    height: 0.8rem;
    border-radius: 1rem;
    background: #777E93;
    cursor: pointer;
    opacity: 0.45 !important;
}
.slider-container{
    
}
.yellowLine{
    margin-top:2%;
    height: 3px;
    background: #FFE048;
    width: 7%;
}
.selectArrows{
    display: flex;
    justify-content: space-evenly;
    height: 2.76rem;
    width: 12%;
    margin-left:47.5%;
    margin-top: 6.7%;
}
.selectArrows-left{
    border:1px solid #A5A9B4;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #51596E;
    border-radius: 100rem;
    width: 44%;
    height: 100%;
    opacity: 0.45;
}
.selectArrows-left .arrowLeft{
    transform: rotate(180deg);
}
.selectArrows-right{
    border:1px solid #A5A9B4;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #51596E;
    border-radius: 100rem;
    width: 44%;
    height: 100%;
    opacity: 0.45;
}
.selectArrows-right:hover{
    opacity: 1;
}
.selectArrows-left:hover{
    opacity: 1;
}
.dropNumbers{
    margin-left: 2.5%;
    margin-top: 2%;
}
.dropNumbers-title{
    font-size:0.86rem;
}
.dropNumbers-list{
    margin-left:0.7%;
}
.dropNumbers-list > li{
    color: white;
    -webkit-transform: skewX(-10deg); 
	-moz-transform: skewX(-10deg); 
	-ms-transform: skewX(-10deg); 
	-o-transform: skewX(-10deg); 
	transform: skewX(-10deg); 
    width: 12%;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    justify-content: center;
    font-size:0.76rem;
    align-items: center;
    opacity: 0.85;
    margin-top:6.3%;
    border-radius: 0.5rem;
}
.dropNumbers-item--red{
    background-color: #CB2222;
}
.dropNumbers-item--black{
    background-color: #151817;
}
.dropNumbers-item--green{
    background-color: #22CB70;
}

.gameProps{
    margin-right: 41%;
}
.possibleWin{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:10%;
}
.possibleWin-chips{
    margin-top: 2%;
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.possibleWin-title{
    font-size:0.86rem;
    letter-spacing: 5%;
}
.possibleWin-count{
    font-size:1.48rem;
    letter-spacing: 5%;
}
.timer{
    margin-top: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.timer-image{
    width: 10%;
}
.timer-title{
    font-size:0.86rem;
    letter-spacing: 5%;
}
/* .timer-image{
    margin-right: 5%;
} */
.timer-description{
    margin-top: 5%;
    align-items: center;
    width: 105%;
    display: flex;
    /* justify-content: space-between; */
}
.timer-progress{
    margin-left:3%;
    width: 14rem;
    height: 1rem;
    background-color: #463962;
    
}
.timer-progress-completed{
    margin-top:-2px;
    width: 5rem;
    height: 1rem;
    background-color: #9969FF;
    border: 0.1rem solid #C2A5FF;
}
.wrapper-footer{
    margin-top: 15.8%;
    display: flex;
    justify-content: space-between;
}
.navigation{
    display: flex;
    justify-content: space-between;
    width: 10%;
    margin-right: 3.7%;
}
.navigation > div{
    color: white;
    -webkit-transform: skewX(-10deg); 
	-moz-transform: skewX(-10deg); 
	-ms-transform: skewX(-10deg); 
	-o-transform: skewX(-10deg); 
	transform: skewX(-10deg); 
    width: 30%;
    height: 40%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    font-size:0.76rem;
    align-items: center;
    opacity: 0.85;
    margin-top: 15%;
    border-radius: 0.5rem;
    border: 1px solid #8F95A9;
}
.navigation div:hover{
    background-color: #717583;   
}
.navigation-image{
    height:50%;
    width: 50%;
}
.balance{
    width:46%;
}
.bet{
    width:46%;
}
.balanceAndBet{
    margin-left: 3%;
    margin-bottom: 2%;
    display: flex;
    width: 30%;
    justify-content: space-between;
}
.balance-title{
    left: 28%;
    z-index: 99999;
    font-size: 0.66rem;
    position: relative;
    top: 19%;
}
.balance-count{
    -webkit-transform: skewX(-10deg); 
	-moz-transform: skewX(-10deg); 
	-ms-transform: skewX(-10deg); 
	-o-transform: skewX(-10deg); 
	transform: skewX(-10deg); 
    /* width: 100%; */
    padding: 0.85rem;
    display: flex;
    /* justify-content: space-around; */
    font-size:0.76rem;
    align-items: center;
    opacity: 0.85;
    margin-top:5%;
    border-radius: 0.5rem;
    background-color: #202E2E;
}
.balance-count > img{
    margin-left:3%;
}
.balance-count > p{
    margin-left:10%;
}
@media screen and (max-width:800px) {
    .wrapper-footer{
        margin-top: 30.8%;
    }
  }