html{
    font-size: 1.45vw;
}
body{
    margin:0;
    padding:0;
}
p{
    margin:0;
}
a{
    text-decoration: none;
    color:#ffffff;
}
.wrapper{
    font-family: 'Oswald', sans-serif;
    /* height: 1024px;
    width: 1440px; */
    height: 71.06vw;
    width: 100vw;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    background-repeat: no-repeat;
    background-image: url('images/background.png');
    background-position: center; 
    background-size: contain;
    letter-spacing: 2px;

}
.main{
    width: 76.32%;
    height: 78.125%;
    margin: 5.2% auto 0  auto;
}
.main-header{
    height: 11.25%;
    padding-left: 7.3%;
    display: flex;
    justify-content: space-between;
}
.nav{
    width: 41.7%;
    color:#ffffff;
    /* font-size: 18px; */
    font-size: 0.86rem;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}
.nav  a{
    display: flex;
    align-items: center;
    opacity: 0.45;

}
.nav-about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-image{
    margin-bottom: 17%;
    width:1.2rem;
}
/* .nav a:active{
    color:#ffffff;
    display: flex;
    align-items: center;
} */
/* .nav a:hover{
    opacity: 1;
    display: flex;
    align-items: center;
    color:#ffffff;
    border-top: 2px solid #FFE048;
} */

.buy-link{
    display: inline-block;
    align-items: center;
    margin-top: 31%;
}
.nav-buy{
    width: 21.2%;
}
.nav-buy div a{
    opacity: 1;
}
.light{
    
    justify-self: start;
    height: 3px;
    background: #FFE048;
    -webkit-box-shadow: 0px 6px 22px 0px rgba(255,255,72,1);
    -moz-box-shadow: 0px 6px 22px 0px rgba(255,255,72,1);
    box-shadow: 0px 6px 22px 0px rgba(255,255,72,1);

}

.closeButton-svg:hover g{
    opacity: 1;
}
.closeButton-svg:hover > path{
    fill-opacity: 0.25;
}
.closeButton{
    width: 9%;
}
.closeButton-svg{
    width: 100%;
    height: 100%;
}
.money{
    margin-top: 3%;
    margin-left: 78.3%;
    font-size: 0.86rem;
    width: 17.3%;
    height: 2.2%;
    display: flex;
    justify-content: space-between;
}
.chips{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dollars{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 48%;
}
.chips-chipsCoin{
    width: 1.62rem;
}
.dollars-dollarCoin{
    width: 1.62rem;
}
.selectChipsCount-icon{
    margin-right: -4%;
}
.selectChipsCount-10{
    margin-right: -4%;
}
.chips-count{
    color: #DAC9FF;
    margin-left: 6%;
}
.dollars-count{
    color: #BAF8C0;
    margin-left: 6%;
}

.calculate{
    width: 33.6%;
    height: 70%;
    margin-top: 4%;
    margin-left: 6.6%;
}
.calculate-title{
    text-transform: uppercase;
    color: #ffffff;
    opacity: 0.45;
    font-size: 0.76rem;
}
.selectChipsCount{
    height: 9.7%;
    width: 73%;
    margin-top: 5.6%;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selectChipsCount div{
    color:white;
    opacity: 0.45;
}
.selectChip{
    -webkit-transform: skewX(-10deg); 
	-moz-transform: skewX(-10deg); 
	-ms-transform: skewX(-10deg); 
	-o-transform: skewX(-10deg); 
	transform: skewX(-10deg); 
    width: 19%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1 !important;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 0.5rem;
    border: 1px solid #8F95A9;

}

.selectChip > p{
    -webkit-transform: skewX(+10deg);
	-moz-transform: skewX(+10deg); 
	-ms-transform: skewX(+10deg); 
	-o-transform: skewX(+10deg); 
	transform: skewX(+10deg); 
}

.coinForm{
    color: #DAC9FF;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 1rem;
    background-color: #161F38;
    padding: 8% 0 8% 8%;
    margin-top: 7%;
    opacity: 0.85;
    box-shadow: inset 0px 12px 35px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
.coinForm-input{
    font-family: 'Oswald', sans-serif;
    color: #DAC9FF;
    font-size: 1rem;
    background-color: #161F38;
    opacity: 0.85;
    border: none;
    outline:none;
    margin-left: 6%;

}
.coinForm--selected{
    border: 2px solid #C0E1FF;
}

.buyForm{
    display: flex;
    justify-content: space-between;
    margin-top: 8.2%;
}

.buyForm-button{
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 9.1%;
    border: 0;
    width: 71%;
    outline: none;
    background: radial-gradient(70.62% 70.62% at 50% 50%, #FFEC41 0%, rgba(255, 236, 65, 0) 100%), radial-gradient(25.77% 25.77% at 50% 105.15%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(111.34% 111.34% at 50% -11.34%, #FFFFFF 0%, rgba(255, 255, 255, 0) 31.4%), linear-gradient(180deg, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0) 100%), #FFB901;
    box-shadow: 0px 6px 0px #9D7814;
    
}
.buyForm-button:hover{
    background: radial-gradient(70.62% 70.62% at 50% 50%, #FFEC41 0%, rgba(255, 241, 112, 0) 100%), radial-gradient(25.77% 25.77% at 50% 105.15%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(111.34% 111.34% at 50% -11.34%, #FFFFFF 0%, rgba(255, 255, 255, 0) 31.4%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFB901;
    box-shadow: 0px 6px 0px #9D7814, 0px 22px 25px rgba(255, 214, 53, 0.25);
}

.changePayMethod{
    
    width: 25%;
    /* background: rgba(115, 129, 140, 0.65); */
    border-radius: 10px;
}
.changePayMethod:hover .changePayMethod-cash{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.15);
}
.changePayMethod:hover .arrow{
    transform: rotate(180deg);
}
.changePayMethod:hover .changePayMethod-card{
    border: 2px solid #C0E1FF;
    background: rgba(255, 255, 255, 0.15);
}
.changePayMethod-card{
    background: rgba(255, 255, 255, 0.15);
    border-radius: 0.5rem;
    border: 2px solid #686D7C;
    height: 94%;
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 2%;
}

.changePayMethod-cash{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 94%;
    width: 103%;
    border-bottom-left-radius:0.5rem ;
    border-bottom-right-radius:0.5rem ;
    display: none;
}
.cashImage{
    width: 1.66rem;
}
.arrow{
    width: 1rem;
}